/* font-family: 'Roboto Flex', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 10px;
}

:root{
    --color1: rgb(226, 122, 37);
    --color2: #FFCD29;
}

body{
    font-family: 'Oswald', sans-serif;
}


div.logoin {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}

div.logo {
    text-align: center;
}

div.logo p:first-child {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: -5px;
}

div.logo p:last-child {
    font-size: 1.4em;
}

nav {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 55px;
    max-width: 1100px;
    border-radius: 30px;
    margin: 5px auto 0 auto;
    padding-left: 3em;
    padding-right: 3em;
    background-color: var(--color2);
    z-index: 100;
    box-shadow: rgba(0, 0, 0, .25) 0px 4px 4px 0px;
}

ul.menu {
    list-style: none;
    display: flex;
    width: 40%;
    justify-content: space-around;
}

ul.menu a {
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    letter-spacing: 1px;
}

/* BURGER STYLING */
.burger {
    display: none;
}

.burger:hover {
    cursor: pointer;
}

/* HEADER STYLING */
header{
    height: 100vh;
    background-image: url(../image/bg_image_header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 1300px;
    height: 100%;
    margin: 0 auto;
    padding: 30px;
}

header h1{
    padding-top: 30vh;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 70px
}

h2{
    font-size: 35px;
    text-transform: uppercase;
    position: relative;
}

header h2::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 80%;
    background-color: black;
    border-radius: 3px;
}

.header a{
    display: inline-block;
}

.button{
    text-decoration: none;
    margin: 10px;
}

.container-button{
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn {
    position: relative;
    color: black;
    width: 100px;
    line-height: 30px;
    transition: all 0.3s;
  }

.btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}
  
.btn-one::before {
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0.1, 1);
}
  
.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
  
.btn-one::after {
    transition: all 0.3s;
    border: 2px solid var(--color1);
}
  
.btn-one:hover::after {
    transform: scale(1, .1);
    opacity: 0;
}

/* ABOUT SECTION */
#about{
    height: 800px;
    background-image: url(../image/bg_image_about.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.opacity{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .opacity > section{
    min-width: 720px;
    max-width: 1000px;
    background-color: #fff;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, .25) 0px 4px 4px 0px;
}

h3{
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 30px;
}

h3::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 80%;
    max-width: 400px;
    min-width: 230px;
    background-color:var(--color2);
    border-radius: 3px;
}

.about-me{
    display: flex;
    justify-content: space-between;
}

.me{
    clip-path: circle();
    width: 230px;
}

.about-text{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    font-size: 17px;
    line-height: 30px;
    text-align: justify;
}

.about-text p{
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-around;
}

.slash{
    color: var(--color2);
}

/* RESUME */
.resume{
    background-color: var(--color2);
    min-height: 150px;
}

.resume > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
    padding: 40px 40px;
}

.resume div p{
    width:70%;
    font-size: 35px;
    text-transform: uppercase;
}

a.download{
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.download div{
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 3px;
}

/* PROJECTS */
#projects{
    background-image: url(../image/bg_image_about.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.wraper{
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.wraper .title{
    margin-left: 40px;
}

.project{
    display: flex;
    min-height: 300px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .25) 0px 4px 4px 0px;
}

.project .img{
    background-image: url(../image/bg_image_header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}

.project > section{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
    width: 50%;
}

.project section .text{
    font-size: 17px;
    font-weight: 300;
}

.buttons{
    display: flex;
    margin-top: 20px;  
}

.buttons a{
    width: 85px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /* text-transform: uppercase; */
    text-decoration: none;
    margin-right: 10px;
}

.buttons a div:hover{
    background-color: black;
    color: white;
    /* text-transform: uppercase; */
    transition: 0.3s;
}

.buttons a div{
    font-size: 15px;
    font-weight: 300;
    background-color: var(--color2);
    color: black;
    border-radius: 3px;
    transition: 0.3s;
}

.number{
    margin-bottom: 5px;
    font-size: 15px;
}
.revert{
    flex-direction: row-reverse;
}

.project section .skills p{
    font-size: 15px;
    margin-top: 30px;
}






@media only screen and (max-width: 1024px) {
    .burger {
        display: block;
        transition: .2s;
        width: 3em;
        height: 20px;
        position: relative;
    }

    .burger.active {
        transform: rotate(-270deg);
    }

    .burger .line {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
        border-radius: 5px;
        transition: top .2s .2s ease, opacity .2s .2s ease, transform .2s .4s ease, background-color .2s .3s ease;
    }

    .burger .line:first-child {
        top: 0;
    }

    .burger .line.line:nth-child(2) {
        top: calc(50% - 2px);
    }

    .burger .line.line:nth-child(3) {
        top: calc(100% - 4px);
    }

    .burger.active .line:first-child {
        top: calc(50% - 2px);
        transform: rotate(-45deg);
    }

    .burger.active .line.line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .line.line:nth-child(3) {
        top: calc(50% - 2px);
        transform: rotate(45deg);
    }

    ul.menu {
        position: absolute;
        right: 0;
        top: 55px;
        background-color: rgba(255, 255, 255, .9);
        height: calc(100vh - 55px);
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        transform: translate(0%);
        transition: 0.3s;
        border-radius: 30px;
    }

    ul.active {
        transform: translate(100%);
    }

    ul.menu li {
        line-height: 65px;
    }
}










@media only screen and (max-width: 720px) {
    ul.menu {
        width: 100%;
    }

    .header{
        padding: 10px;
    }

    header h1{
        font-size: 60px;
        line-height: 60px;
    }
    
    header h2{
        font-size: 25px;
    }

    #about{
        min-height: 110vh;
        max-height: none;
    }
    
    .opacity{
        position: relative;
    }
    
    #about .opacity > section{
        position: absolute;
        min-width: 0px;
        width: 100%;
        margin: 40px 0 40px 0;
    }

    .about-text{
        margin-left: 0px;
        margin-top: 20px;
    }
    
    .about-me{
        justify-content: center;
        flex-direction: column;
    }

    .project .img{
        /* background-color: #fff;
        background-image: url(../image/bg_image_header.jpg);
        background-position: center;
        background-size: contain; */
        width: 100%;
        height: 300px;
        /* height: 100%; */
    }
    .project{
        /* flex-wrap: nowrap; */
        flex-direction: column;
        /* display: flex; */
        min-height: 400px;
        /* min-width: 720px; */
        /* background-color: white;
        margin-bottom: 40px;
        box-shadow: rgba(0, 0, 0, .25) 0px 4px 4px 0px; */
    }

    .project > section{
        width: 100%;
    }
}









@media only screen and (max-width: 480px){
    .resume > div{
        flex-direction: column;
        text-align: center;
    }

    .resume div p{
        margin-bottom: 40px;
    }
}






@media only screen and (max-width: 360px) {
    header h1{
        font-size: 50px;
        line-height: 50px;
    }
    
    header h2{
        font-size: 15px;
    }
    
    #about .opacity > section{
        box-shadow: none;
    }


}